<div id="<%= dom_id property %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Address:</strong>
    <%= property.address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Owner name:</strong>
    <%= property.owner %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Usage type:</strong>
    <%= property.usage_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= property.notes %>
  </div>
</div>
